:root {
  --scissors-gradient: radial-gradient(circle, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-gradient: radial-gradient(hsl(261, 73%, 60%), hsl(261, 73%, 63%));

  --scissors-shadow: hsl(40, 84%, 40%);
  --paper-shadow: hsl(220, 60%, 40%);
  --rock-shadow: hsl(349, 71%, 40%);
  --lizard-shadow: hsl(261, 73%, 63%);

  --cyan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --radial-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes popup {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%);
  }
}