* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  --red: hsl(0, 87%, 67%);

  --light-gray: #eff1f7;
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  --distance-from-border: 8vw;
  --mobile-max-width: 800px;
}

*:focus {
  outline: 1px dotted var(--grayish-violet)
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
