$dark-blue-intro-email-background: hsl(217, 28%, 15%);
$dark-blue-main-background: hsl(218, 28%, 13%);
$dark-blue-footer-background: hsl(216, 53%, 9%);
$dark-blue-testimonials-background: hsl(219, 30%, 18%);

$cyan-call-to-action-gradient: #65e2d9;
$blue-call-to-action-gradient: #339ecc;
$light-red-error: hsl(0, 100%, 63%);

$mobile-max-width: 950px;

$white: hsl(0, 0%, 100%);

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: $white;
}

a {
    color: $white;
}

a, button {
    cursor: pointer;
}

h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
}

.no-wrap {
    white-space: nowrap;
}

.social-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;
    border-radius: 50%;

    width: 32px;
    height: 32px;
}

body {
    background-color: $dark-blue-intro-email-background;
    background: $dark-blue-footer-background;
}

header {
    background-color: $dark-blue-intro-email-background;

    .inner-header {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        padding: 3vh 0;
        width: 90%;
        margin: 0 auto;

        .logo {
            width: 30vw;
            max-width: 140px;
        }

        nav {
            display: flex;
            flex-direction: row;

            gap: 2vw;

            a {
                opacity: 0.8;

                transition: 250ms;
            }

            a:hover,
            a:focus {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }
}

main {
    background-color: $dark-blue-main-background;

    #intro {
        background-color: $dark-blue-intro-email-background;
        background-image: url("images/bg-curvy-desktop.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;

        padding-bottom: 275px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        text-align: center;

        picture {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 40px;
            line-height: 60px;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
                max-width: 80%;
            }
        }

        #get-started {
            display: block;
            padding: 10px 80px;

            border-radius: 25px;

            background: $blue-call-to-action-gradient;
            transition: 250ms;
        }

        #get-started:hover,
        #get-started:focus {
            background: $cyan-call-to-action-gradient;
        }

        @media only screen and (max-width: $mobile-max-width) {
            background: url("images/bg-curvy-mobile.svg"),
                linear-gradient($dark-blue-intro-email-background 60%, $dark-blue-main-background 60%);
            background-position: left 0 top 50%, 0;
            background-repeat: no-repeat;
            background-size: 100%;
            padding-bottom: 0;
            margin-bottom: 100px;

            h1 {
                font-size: 27px;
                line-height: 40px;
            }
        }
    }

    #stuff {
        margin-bottom: 100px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        align-items: end;
        justify-items: center;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            width: 75%;

            img {
                width: 15%;
            }

            p {
                text-align: center;
                width: 70%;
            }
        }

        @media only screen and (max-width: $mobile-max-width) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            gap: 80px;
        }
    }

    #stay-productive {
        margin: 0 auto;
        margin-bottom: 100px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;

        width: 80%;

        img {
            width: 100%;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                width: 75%;
                font-size: 40px;
            }

            .paragraphs {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            a {
                padding-bottom: 1px;
                display: flex;
                align-items: center;
                width: fit-content;
                gap: 2px;

                color: $cyan-call-to-action-gradient;
                border-bottom: 1px solid;
            }
        }

        #see-how {
            transition: 250ms;
        }

        #see-how:hover, #see-how:focus {
            color: white;

            img {
                filter: grayscale(1) brightness(115%);
            }
        }

        @media only screen and (max-width: $mobile-max-width) {
            flex-direction: column;

            .text-container {
                h2 {
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
    }

    #quotes {
        display: flex;
        gap: 20px;

        padding: 30px 8px;
        margin: 0 auto;
        margin-bottom: 100px;

        width: 90%;

        background-image: url("images/bg-quotes.png");
        background-repeat: no-repeat;
        background-position: top left;

        .card {
            display: flex;
            flex-direction: column;
            background-color: $dark-blue-main-background;
            gap: 20px;

            padding: 20px;
            padding-top: 32px;
            flex: 1 1 0;

            background-color: $dark-blue-testimonials-background;
            border-radius: 5px;

            .profile {
                align-self: start;
                display: grid;
                grid-template-areas:
                    "image name"
                    "image occupation";

                align-items: center;
                justify-items: start;

                column-gap: 5px;

                .profile-image {
                    justify-self: end;

                    grid-area: image;
                    width: 20px;
                    border-radius: 50%;
                }

                .name {
                    grid-area: name;

                    font-size: 12px;
                    font-weight: 700;
                }

                .occupation {
                    grid-area: occupation;
                    font-size: 8px;
                }
            }
        }

        @media only screen and (max-width: $mobile-max-width) {
            flex-direction: column;

            padding: 23px 0;
            background-size: 32px;
            background-position-x: 5px;
        }
    }

    #early-access {
        display: flex;
        justify-content: center;

        margin-bottom: 100px;

        background: linear-gradient($dark-blue-main-background 50%, $dark-blue-footer-background 50%);

        .card {
            padding: 40px;

            width: 60%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            background-color: $dark-blue-intro-email-background;
            border-radius: 10px;

            h2 {
                font-size: 28px;
            }

            p {
                max-width: 75%;
                text-align: center;
            }

            .form-container {
                width: 90%;
            }

            form {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                width: 100%;

                #email {
                    width: 100%;
                    padding: 15px 35px;

                    border-radius: 50px;
                }

                .submit {
                    padding: 15px 25px;
                    border-radius: 50px;

                    color: $white;
                    font-weight: 700;

                    background: $blue-call-to-action-gradient;
                    transition: 250ms;
                }

                .submit:hover,
                .submit:focus {
                    background: $cyan-call-to-action-gradient;
                }
            }

            #form-error {
                font-size: 10px;
                padding-left: 40px;
                padding-top: 10px;

                color: $light-red-error;
            }
        }

        @media only screen and (max-width: $mobile-max-width) {
            .card {
                width: 90%;
                padding: 30px;

                h2 {
                    font-size: 18px;
                    max-width: 100%;
                }

                p {
                    max-width: 100%;
                }

                form {
                    width: 100%;
                    flex-direction: column;
                }
            }
        }
    }
}

footer {
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;

    .logo {
        margin-bottom: 20px;
    }

    #inner-footer {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .location {
            display: flex;
            align-items: start;
            gap: 10px;

            max-width: 325px;

            flex: 1 1 0;

            img {
                margin-top: 5px;
            }

            p {
                opacity: .8;
            }
        }

        ul {
            list-style: none;
            flex: 1 1 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    opacity: .8;
                }

                a:hover, a:focus {
                    opacity: 1;
                }
            }
        }

        #social-icons {
            flex-direction: row;

            a:hover, a:focus {
                opacity: 1;
                filter: brightness(0) saturate(100%) invert(76%) sepia(65%) saturate(313%) hue-rotate(121deg) brightness(93%) contrast(95%);
            }
        }
    }

    @media only screen and (max-width: $mobile-max-width) {
        #inner-footer {
            flex-direction: column;
            gap: 40px;

            #social-icons {
                align-self: center;
            }
        }
    }
}
